{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}!
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/styles2.css') }}">
    <p>
        Hello {{ name }}!
    </p>
    <footer>Hi!</footer>
{% endblock %}